// Import all of Bootstrap's CSS

// change font family
$font-family-inter: 'Inter','sans-serif';
$font-family-cursive:'Ephesis','cursive';

// change theme colors
$primary : #E83667;
$primaryDark : #BB2C51;
$secondary: #21D4B9;
$dark :#303030;
$gray:#6c757d;

$theme-colors:(
    'primary':$primary,
    'secondary':$secondary,
    'dark':$dark,
);

$custom-colors:(
    'primaryDark':$primaryDark,
    'gray':$gray,
);

$theme-colors:map-merge($theme-colors,$custom-colors);
// change container 
$container-padding-x: 1rem;   
$container-sm-padding-x: 2rem;    
$container-lg-padding-x: 3rem;    
$container-xl-padding-x: 4rem;    
@import "bootstrap/scss/bootstrap";

// General style
a{
    text-decoration: none !important;
}
ul{
    list-style: none !important;
}
.rotate-90{
    letter-spacing: .2rem;
    transform: translateX(.5rem) rotate(90deg);
}
// Start Navbar
#navlinks {
    a{
        transition: .3s;
    }
     a.hover-link1{
        &:hover{
            color:$primary !important;
        }
    }
    a.hover-link2{
        &:hover{
            background-color: rgb(232 54 103 / 20%) !important;
        }
    }
    
    .dropdown-link {
        .caret, .drop-links{
            transition: .3s; 
        }
        &:hover{
            .caret{
                transform: rotate(180deg);
            }  
            .drop-links{
                display: block !important;
            }
        }
    }
    #my-account-btn{
        transition: .3s;
        &:hover{
            transform: scale(105%);
        }
    }
}

#primary-btn{
    .fa-arrow-right-btn{
        transition: .2s;
        width:40px;
        height:40px;
    }
    &:hover{
        .fa-arrow-right-btn{
            transform: translateX(.5rem);
        }
    }
}

// banner section 
#fruits {
    .leaf{
        top:2rem;
        left:0;
        img{
            max-width: 160px;
        }
    }
    .lemon{
        top:3rem;
        right:0;
        img{
            max-width: 200px;
        }
    }
    .tomato{
        bottom:4rem;
        left:0rem;
        img{
            max-width: 260px;
        }
    }
    .apple{
        bottom:2rem;
        right:0rem;
        img{
            max-width: 200px;
        }
    }
    .kiwi{
        top:47%;
        left:33%;
        transform: translateY(-50%);
        img{
            max-width: 180px;
        }
    }
}

// footer section 
footer{
    .container{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem ;
    }
}

